<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head') %>
    <body>
        <%- include ('../partials/header') %>
    <main class="maincarrito">
        <%if (carrito.length!=0){%>
        <%let i=0; carrito.forEach(carrito=>{%>
        <article class="articlecarrito">
            <picture class="picturecarrito">
                <a href="/Editcarrito/<%=carrito.referencia%>"><img src="/images/productsDB/<%=carrito.imagen%>" alt=""></a>
            </picture>
            <div class="divcarrito">
                <h3>Descripcion:<%= carrito.nombre%></h3>
                <p>Disponible:<%= carrito.cantidad%></p>
                <p>Cantidad:<%= carrito.lleva%></p>
                    <form class="formCompra" action="/borrar-carrito/<%=i++ %>?_method=delete" method="POST">  
                      <input  id="delete" type="submit"  value="Borrar Producto">
                      
                      </form><!-- control de button para eliminar producto -->
              </div>
            </div>
        <% if(typeof carrito.lleva!="undefined"){%>
            <div class="preciocarrito">
                <h1>Precio:<%= carrito.precio*carrito.lleva%></h1>
            </div>
                   
        </article>
        <%}})%>
        <article class="preciototal">
            <button id="delete">Comprar</button>
            <div>
                <h2>Precio total:<%= totalprecio %></h2>
            </div>
             
 
        </article>
           <%} else{%>
            <article class="articlevaciocarrito">
                <div class="vaciocarrito">
                    <h2>Tu carrito está vacío</h2>
                    <h3>¿No sabes qué comprar? <a href="/comida">mire las opciones</a></h3>
                </div>
            </article>
            <%}%>
            

    </main>
        <%- include ('../partials/footer') %>
    
</body>
</html>
