<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head') %>
    <body>
        <%- include ('../partials/header') %>
        
        <main class="detalleProducto">
            <section class="imagenDetalle">
                <img src="/images/productsDB/<%= lista.imagen %>" alt="">
            </section>
            <section class="descripcionDetalle">
                <form class="formCompra" action="#">
                    <h2><%= lista.mascota %></h2>
                    <h3><%= lista.nombre %></h3>
                    <h3><%= lista.razas %></h3>
                    <label for="precio">$<%= lista.precio %></label>
                    <input type="hidden" name="precio" value="<%= lista.precio %>">

                    <div class="listas">
                        <label for="cantidad">Cantidad:</label>
                        <select class="cantidad" name="cantidad" id="cantidad">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                       </select>           
                    </div>
                       <input type="submit" name="comprar" value="Añadir Carrito">
                </form>
                <div class="botones">
                    <form class="formCompra"  action="/editar-producto/<%= lista.referencia %>">
                        <input class="edit" type="submit"  value="Editar Producto">
                    </form>
                    <form class="formCompra" action="/borrar-producto/<%= lista.id %>?_method=delete" method="POST">
                        <input  class="delete" type="submit"  value="Borrar Producto">
                    </form>
                </div>
                
               
            </section>
            
        </main>
        <%- include ('../partials/footer') %>
    </body>
</html>