<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head') %>
<body>
    <%- include ('../partials/header') %>
    
    <main id="main"  class="mainListaProductos">
        <% productos.forEach(item=>{ %>
            <article>
                <img src="/images/productsDB/<%= item.imagen %>" alt="">
                <div class="vermas">
                    <div class="descripcionMas">
                        <p>Tipo: <%= item.mascota %></p>
                        <p>Razas: <%= item.razas %></p>
                        <p>Descripcion: <%= item.nombre %></p>
                        <p>Tamanio: <%= item.tamaño %> kg</p>
                        <p>Precio: $<%= item.precio %></p>
                    </div>
                    

                    <button><a href="/detalle/<%= item.referencia %>">DETALLES</a></button>
                    
                </div>
                
            </article>
       <% }) %>
        

    </main>
    <%- include ('../partials/footer') %>
</body>
</html>