<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head') %>
<body>
    <%- include ('./partials/header') %>
    <main class="mainListaProductos">
        <% productos.forEach(item=>{ %>
            <article>
                <img src="/images/productsDB/<%= item.imagen %>" alt="">
                <div class="vermas">
                    <p><%= item.mascota %></p>
                    <p><%= item.razas %></p>
                    <p><%= item.nombre %></p>
                    <p><%= item.tamaño %></p>
                    <p>$<%= item.precio %></p>
                    <a href="/admin/detalle/<%= item.referencia %>">Ver más detalles</a>
                </div>
                
            </article>
       <% }) %>
        

    </main>
    <%- include ('./partials/footer') %>
</body>
</html>