<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head') %>
<body>
    <%- include ('../partials/header') %>
    <main id="main"  class="mainAdminPerfil" >
        <section class="imagenUser">
            <img src="/images/dbUsers/<%= user.imagen %>" alt="">
        </section>
        <div class="infoUser">
            <h1>Hola!!! <%= user.nombre %></h1>
        </div>
        <button id="crearProducto"> <a href="/crear-producto">Crear Nuevo Producto</a> </button> <!-- button de cerrar sesion -->
        <div class="articulo">
            <% lista.forEach(item => { %> <!-- codigo js para rcorrer el objeto enviado en el controlador -->
            <article>
                <div class="divImg">
                    <img src="/images/productsDB/<%= item.imagen %>" alt=""><!-- imagen del articulo -->

                </div>
       
               <div class="vermas">
                   <p class="titulo"><%= item.nombre %></p>
                   <p class="precio">COP$<%= item.precio %></p>
                   <div id="botones">
                    <form class="formCompra"  action="/editar-producto/<%=item.id %>">
                        <input id="edit" type="submit"  value="Editar Producto">
                    </form> <!-- control de button para editar producto-->
                    <form class="formCompra" action="/borrar-producto/<%= item.id %>?_method=delete" method="POST">
                        <input  id="delete" type="submit"  value="Borrar Producto">
                    </form><!-- control de button para eliminar producto -->
                </div>
               </div><!-- Caja desplegable de cada articulo, par aver descripcion rapida -->
               
            </article><!-- vista de cada articulo -->
            <% }); %><!-- cierre codigo js anterior -->
        </div>
        <form action="/user/cerrarSesion" method="POST">
            <input id="cerrarSesion" type="submit" value="Cerrar sesion"> <!-- button de cerrar sesion -->
        </form>
    </main>
    <%- include ('../partials/footer') %>
</body>
</html>