<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head') %>
<body>
    <%- include ('../partials/header') %>
 
    <main id="main"  class="mainCrearProducto">
        <section class="imagen-edit">
            <img src="/images/productsDB/<%= toEdit.imagen %>" alt="">
        </section>
        <h1>Complete los datos del nuevo producto</h1>
        <form  action="/editar-producto/<%= toEdit.referencia %>?_method=patch" method="POST" enctype="multipart/form-data" > <!-- enctype="multipart/form-data"> --> <!-- Usar esta config cuando se va a subir imagenes en el form sino se puede quitar el elemento o configurar  enctype="application/x-www-form-urlencoded"  para solo texto -->
            
            <div>
                <label for="mascota">Perros</label>
                <input type="radio" name="mascota" id="mascota" value="Canino" <% if(toEdit.mascota=="Canino") { %> checked <% }%> >
                <label for="mascota">Gatos</label>
                <input type="radio" name="mascota" id="mascota" value="Felino" <% if(toEdit.mascota=="Felino") { %> checked <% }%> >
            </div>
            <div>
                <label for="razas">Pequeña</label>
                <input type="radio" name="razas" id="razas" value="pequeña" <% if(toEdit.razas=="pequeña") { %> checked <% }%>>
                <label for="mascota">Mediana</label>
                <input type="radio" name="razas" id="razas" value="mediana" <% if(toEdit.razas=="mediana") { %> checked <% }%>>
                <label for="mascota">Grande</label>
                <input type="radio" name="razas" id="razas" value="grande" <% if(toEdit.razas=="grande") { %> checked <% }%>>
            </div>
            <div>
                <label for="categoria">Categoria</label>
                <select name="categoria" id="categoria">
                <option value="accesorios" <% if(toEdit.categoria=="accesorios") { %> selected <% }%>>Accesorios</option>
                <option value="alimentos" <% if(toEdit.categoria=="alimentos") { %> selected <% }%>>Alimentos</option>
                <option value="aseo" <% if(toEdit.categoria=="aseo") { %> selected <% }%>>Aseo</option>
                </select>
            </div>
            <div>
                <label for="nombre">Nombre Producto</label>
                <input type="text" id="nombre" name="nombre"  value="<%= toEdit.nombre %>" >
            </div>
            <div>
                <label for="cantidad">Cantidad disponible</label>
                <input type="number" id="cantidad" name="cantidad" value="<%= toEdit.cantidad %>" >
            </div>
            <div>
                <label for="precio">Precio</label>
                <input type="number" id="precio" name="precio" value="<%= toEdit.precio %>" >
            </div>
            <div>
                <label for="tamaño">Tamaño</label>
                <input type="text" id="tamaño" name="tamaño" value="<%= toEdit.tamaño %>" >
            </div>
            <div>
                <label for="imagen">Imagen de descripción</label>
                <input type="file" name="imagen" placeholder="Ingrese imagen de referencia" value="<%= toEdit.imagen %>">
            </div>
            <div >
                <button type="submit">Guardar</button>
            </div>

            
            
        </form>
    </main>
    <%- include ('../partials/footer') %>
</body>
</html>