<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head') %>
    <body>
        <%- include ('../partials/header') %>
            <main class="registro">
                <div class="iconoUser">
                    <i class="far fa-user"></i>
                </div><!-- icono usuario-->
        
                <form action="/user/registro" method="POST" enctype="multipart/form-data">

                    <label for="nombre">Ingrese nombre</label>
                    <input type="text" name="nombre" id="nombre"  value="<%= locals.old && old.nombre ? old.nombre : '' %>">
                    
                        <% if(locals.errors && errors.nombre){ %>                   
                                <p class="showError"><%= errors.nombre.msg%></p>             
                        <% }%>
        
                    <!-- Este codigo me permite mostrar los errores deprueba  en la vista -->
                    <label for="apellido">Ingrese apellido</label>
                    <input type="text" name="apellido" id="apellido" value="<%= locals.old && old.apellido ? old.apellido : '' %>">
                    <% if(locals.errors && errors.apellido){ %>                   
                        <p class="showError"><%= errors.apellido.msg%></p>             
                    <% }%>
            
                    <!-- Este codigo me permite mostrar los errores deprueba  en la vista -->
                    <label for="correo">Ingrese Correo electrónico</label>
                    <input type="email" name="correo" id="correo" value="<%= locals.old && old.correo ? old.correo : ' ' %>">
                    <% if(locals.errors && errors.correo){ %>                   
                        <p class="showError"><%= errors.correo.msg%></p>             
                    <% }%>
        
            
                   <!-- Este codigo me permite mostrar los errores deprueba  en la vista -->
                    <label for="contraseña">Ingrese Contraseña</label>
                    <input type="password" name="contraseña" id="contraseña" >
                    <% if(locals.errors && errors.contraseña){ %>                   
                        <p class="showError"><%= errors.contraseña.msg%></p>             
                    <% }%>
                    <label for="repiteContraseña">Repite la contraseña</label>
                    <input type="password" name="repiteContraseña" id="contraseña" >
                    <% if(locals.errors && errors.repiteContraseña){ %>                   
                        <p class="showError"><%= errors.repiteContraseña.msg%></p>             
                    <% }%>
                    <label for="imagen">Imagen de usuario</label>
                    <input type="file" id="imagenUser" name="imagen" placeholder="Ingrese imagen de usuario" >
                
            
                     <!-- Este codigo me permite mostrar los errores deprueba  en la vista -->
                    <div class="botones">
                        <input class="btn" type="submit" value="Registrar">
                        <input class="btn" type="reset" value="Borrar">
                    </div><!-- caja botones formulario -->
        
                </form><!-- formulario de carga de datos de registro -->
        
        <%- include ('../partials/footer') %>
    </body>
</html>